<div class="web-sidebar">
	<!-- <div class="your-account-info-sidebar">
		<div class="row">
			<div class="col-xs-2">
				<span class="user-image-sidebar"></span>
			</div>
			<div class="col-xs-10">
				<div class="web-sidebar-user">{{ fullname }}</div>
				<a href="/?cmd=web_logout">
					<div class="text-muted small">
						{{ _("Logout") }}</div>
				</a>
			</div>
		</div>
	</div> -->
	<div class="sidebar-items">
		<ul class="list-unstyled">
			{% if sidebar_title %}
			<li class="title">
				{{ sidebar_title }}
			</li>
			{% endif %}
			{% for item in sidebar_items -%}
			<li class="sidebar-item">
				{% if item.type != 'input' %}
					<a href="{{ item.route }}" class="gray {{ 'active' if pathname==item.route else '' }}"
						{% if item.target %}target="{{ item.target }}"{% endif %}>
						{{ _(item.title or item.label) }}
					</a>
				{% else %}
					<form action='{{ item.route }}' style="margin-right: 15px;">
						<input name='q' class='form-control' type='text' style="outline: none"
							placeholder="{{ _(item.title or item.label) }}">
					</form>
				{% endif %}
			</li>
			{%- endfor %}
			{% if frappe.user != 'Guest' %}
			<li class="sidebar-item">
				<a href="/me">{{ _("My Account") }}</a>
			</li>
			{% endif %}
			
			<!-- Custom added My Wallet Balance Field as on 21-06-19-->
			<li style="cursor:pointer;font-size:14px"  onclick="myFunction()">My Wallet</li>
			<span style="display:none;background-color: aliceblue;padding: 2px 10px 2px 2px;font-weight: 700;" id="wallet"></span>
		</ul>
	</div>
</div>

<!--Custom added script as on 21-06-19-->
<script>
  frappe.ready(function() {
	  frappe.call({
          method: "bellamar_website.utils.utils.fetch_wallet",
          args: {customer:"Nikhil Rana"},
          callback: function(r) {
		  if(r.message ===undefined)
		  {
		  	document.getElementById("wallet").innerHTML = 0;
		  }
		  else{
                	document.getElementById("wallet").innerHTML = r.message;
		  }
	  }
          });
   });
  function myFunction() {
  	$("#wallet").show();
  }
</script>
<!--End of custom script-->

<script>
frappe.ready(function() {
	$('.sidebar-item a').each(function(index) {
	        if(this.href.trim() == window.location)
	            $(this).addClass("active");
	    });
});
</script>
